.slider {
    width: 75%;
    max-height: 140px;
    margin: auto;
    overflow: hidden;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	margin-top: 5rem;
	
}
.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
	align-items: center;
}

.slider .slide {
    width: 200px;
	
}

.slider .slide img {
    max-width: 150px;
	margin-right: 2rem;
    max-height: 150px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

.apple{
    width: 90px;
}

.dell{
    width: 120px;
}

@media (max-width:600px){
    .slider{
        width: 90%;
        max-height: 100px;
    }

    .slider .slide{
        max-width: 100px;
        margin-right: 1rem;
    }

    .slider .slide img{
        max-width: 90px;
        
        
    }
    
    .apple{
        width: 50px;
        
    }

    .dell{
        width: 60px;
    }

    .slider{
        margin-top: 2rem; 
    }
}
